.verbar	{
	color: black;
        text-align:left; vertical-align:middle;
        font-family:Arial,Verdana; font-size:1px; color:#000000;
}

.submenu	{
	position: absolute;
        font-family:Arial,Verdana; font-size:1px; color:#000000;
        text-align:left; vertical-align:top;
	left: 0;
	top: 0;
	visibility: hidden;
}

.subframe	{
    z-index: 100;
	position: relative;
        font-family:Arial,Verdana; font-size:11px; color:#000000;
	display: block;
	background-color: #dcdad5; 
	border: 2px outset #cecac1;
}

.item	{
	text-align: left;
	white-space: nowrap;
        font-family:Arial,Verdana; font-size:11px; color:#000000;
}

.item a	{
	position: relative;
	display: block;
	text-decoration: none;
}

.item a:link	{
	color: #000000;
	text-decoration: none;
}

.item a:visited	{
	color: #000000;
	text-decoration: none;
}

.item a:hover	{
	color: #ffffff;
	background-color: #4b6983;
	text-decoration: none;
}

.item a:active	{
	color: #ff0000;
	text-decoration: none;
}

.item .fwdarr	{
	position: absolute;
	top: 5px;
/*	right: 4px; */
	right: 7px;
}

.separator	{
	background-color: #ff0000;
	border-top: 1px solid #9e9a91;
	border-bottom: 1px solid #ffffff;
	margin: 2px 0px 2px 1px;	/* top right bottom left */
	height: 0;
	font-size: 1px;
	line-height: 0;
}

