/***************************************************
** login.css                                      **
** Created by Yesideez (Ivan Rood) on 28-Jan-2009 **
** Used styles.css (gmx_ocher) as a guide         **
***************************************************/

body {
  background-color: #d9bd51;
  font-size: 14px;
  margin: 0px;
}

.logo {
  text-align: left;
  vertical-align: top;
  background-color: #9c8423;
  border-top: 0px #000000 none;
  border-left: 0px #000000 none;
  border-right: 0px #000000 none;
  border-bottom: 1px #fbf9ee solid;
  padding-left: 14px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.note {
  text-align: center;
  vertical-align: middle;
  color: #000000;
  font-size: .75em;
  font-family: Arial,Verdana,Helvetica, sans-serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 32px;
  padding-bottom: 14px;
}

.shadow {
  border: 1px #121314 solid;
}

.box {
  background-color: #e8d791;
  border-top: 1px #fbf9ee solid;
  border-left: 1px #fbf9ee solid;
  border-right: 1px #9c8423 solid;
  border-bottom: 1px #9c8423 solid;
}

.title {
  text-align: center;
  vertical-align: middle;
  color: #000000;
  font-size: .75em;
  font-weight: bold;
  font-family: Arial,Verdana,Helvetica, sans-serif;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.repo1 {
  text-align: right;
  vertical-align: middle;
  color:#000000;
  font-size: .75em;
  font-family: Arial,Verdana,Helvetica, sans-serif;
  padding-left: 12px;
  padding-right: 4px;
  padding-top: 10px;
  padding-bottom: 11px;
}

.repo2 {
  text-align: left;
  vertical-align: middle;
  padding-right: 12px;
}

.repo3 {
  background-color: #e2dfda;
  color: #006acc;
  font-size: .75em;
  font-family: Arial,Verdana,Helvetica, sans-serif;
}

.text1 {
  text-align: right;
  vertical-align: middle;
  color: #000000;
  font-size: .75em;
  font-family: Arial,Verdana,Helvetica, sans-serif;
  padding-left: 12px;
  padding-right: 4px;
}

.text2 {
  text-align: left;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 10px;
}

.input1 {
  text-align: left;
  background-color: #fbf9ee;
  color: #000000;
  font-size: .75em;
  font-family: Arial,Verdana,Helvetica, sans-serif;
  border: 1px #4b4010 solid;
  padding-left: 2px;
  padding-right: 2px;
}

.xbutton1 {
  text-align: right;
  vertical-align: middle;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.xbutton2 {
  background-color: #e8d897;
  color: #000000;
  font-size: .75em;
  font-weight: bold;
  font-family: Arial,Verdana,Helvetica, sans-serif;
  border-top: 1px #fbf9ee solid;
  border-left: 1px #fbf9ee solid;
  border-right: 1px #7a671b solid;
  border-bottom: 1px #7a671b solid;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;
}

.remember {
  text-align: right;
  vertical-align: middle;
  color: #000000;
  font-size: .7em;
  font-family: Arial,Verdana,Helvetica, sans-serif;
  padding-bottom: 6px;
  padding-right: 10px;
}

.anon1 {
  text-align: center;
  vertical-align: middle;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 4px;
  padding-bottom: 6px;
}

a.anon2:link    {color: #000000; font-size:.7em; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.anon2:visited {color: #000000; font-size:.7em; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.anon2:active  {color: #000000; font-size:.7em; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.anon2:hover   {color: #ffffff; font-size:.7em; font-family: Arial,Verdana,Helvetica, sans-serif; text-decoration:none;}


.link1 {
  text-align: center;
  vertical-align: top;
  border-top: 0px #000000 none;
  border-left: 0px #000000 none;
  border-right: 0px #000000 none;
  border-bottom: 1px #7a671b solid;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 18px;
  padding-bottom: 44px;
}

a.link2:link    {color: #000000; font-size: .7em; font-weight: bold; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.link2:visited {color: #000000; font-size: .7em; font-weight: bold; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.link2:active  {color: #000000; font-size: .7em; font-weight: bold; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.link2:hover   {color: #ffffff; font-size: .7em; font-weight: bold; font-family: Arial,Verdana,Helvetica, sans-serif; text-decoration:none;}

.version1 {
  text-align: center;
  border-style: solid;
  border-top: 1px #fbf9ee solid;
  border-left: 0px #000000 none;
  border-right: 0px #000000 none;
  border-bottom: 0px #000000 none;
  padding-top: 4px;
}

a.version2:link    {color: #000000; font-size: .7em; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.version2:visited {color: #000000; font-size: .7em; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.version2:active  {color: #000000; font-size: .7em; font-family: Arial,Verdana,Helvetica, sans-serif;}
a.version2:hover   {color: #ffffff; font-size: .7em; font-family: Arial,Verdana,Helvetica, sans-serif; text-decoration:none;}

input.input_login {
  text-align:left;
  background-repeat: no-repeat;
  background-position: left center;
  background-color:#E2DFDA;
  color:#006ACC; font-size:.75em; font-weight:bold; font-family:Arial,Verdana,Helvetica, sans-serif;
  border-style:solid;
  border-left-color:#353432; border-top-color:#353432; border-right-color:#F4F3F1; border-bottom-color:#F4F3F1;
  border-top-width:1px; border-left-width:1px; border-right-width:1px; border-bottom-width:1px;
  padding-left:15px; padding-right:2px;
  background-image: url(ui_misc/input-username.png);
}
input.input_password {
  text-align:left;
  background-repeat: no-repeat;
  background-position: left center;
  background-color:#E2DFDA;
  color:#006ACC; font-size:.75em; font-weight:bold; font-family:Arial,Verdana,Helvetica, sans-serif;
  border-style:solid;
  border-left-color:#353432; border-top-color:#353432; border-right-color:#F4F3F1; border-bottom-color:#F4F3F1;
  border-top-width:1px; border-left-width:1px; border-right-width:1px; border-bottom-width:1px;
  padding-left:15px; padding-right:2px;
  background-image: url(ui_misc/input-password.png);
}

